*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e3e7e9;
    /* background: linear-gradient(#e3e7e9,#a4a7a8); */
}

.container{
    height: 87.5dvh;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3,250px);
    grid-template-rows: repeat(2,300px);
    gap: 20px;
   background: linear-gradient(#e3e7e9,#a4a7a8);
                        
}

h1{
   display: flex;
   /* margin-top: px; */
   margin-left:  400px;
   font-size: 25px;
   font-style: bold;
  
}

.panier{
    width: 40px;
    height: 40px;
    border-radius:  30px;
    position: relative;
    left: 1150px;
    top: 30px;
    cursor: pointer;
}
.compteur{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:  10px;
    border: 1px solid black; 
    background-color: #f21717;
    color: #ffffff;
    position: relative;
    left: 1175px;
    bottom: 40px;
}

.card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #dce0e2;
    box-shadow: 12px 12px 2px 1px #a5a7a9;
 }

 button{
    background-color: #1b1f25;
    color: #ffffff;
    border: none;
    margin-left: 15px;
    margin-top: 5px;
    height: 30px;
    width: 220px;
    cursor: pointer;
   
 }

 h4{
    margin-left: 55px;
    margin-top: 20px;
    background-color: #dce0e2;
 }

span{
    margin-left: 100px; 
    margin-top: 10px;
    background-color: #dce0e2;
}

.result{
    background-color: #1b1f25;
    color: #dce0e2;
    bottom: 10px;
}

img{
    width: 160px;
    height: 160px;
    border-radius: 95px;
    background-color: #dce0e2;
    position: relative;
    left: 45px;
}

.paniers-container{
    background-color: #463d3b;
    height: 100dvh;
    width: 300px;
    position: relative;
    left: 885px;
    bottom: 100dvh;
}

.side{
    position: relative;
    right: 380px;
    top: 30px;
    color: #ac8304;
}
.total{
    position: relative;
    width: 150px;
    top: 680px;
    right:15px ;
    background-color: #ac8304;
    
}
.exit{
    position: relative;
    width: 150px;
    top: 645px;
    left: 135px;
    color: #ffffff;
}

.addition{
    display: flex;
    align-content: center;
    
    justify-content: center;
    margin-right: 20px;
    background-color: #ac8304;
    color: #ffffff;
}

div{
    background-color: #a4a7a8;
    
}

.cach{
    display: none;
}

.panier-image{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #463d3b;  
    margin-top: 10px;
    position: absolute;
    
    left: 20px;
}
.panier-item{
    background-color: #463d3b;
}

.panier-name{
   margin-left: 100px;
    font-size: smaller;
    font: italic; 
    background-color: #463d3b;
    color: #ffffff; 
}
.panier-price{
    margin-left: 100px;
    background-color: #463d3b; 
    color: #ffffff;
}
.panier-info{
    background-color: #463d3b;
    /* gap: 10px; */
   
}
.compteurs{
    position: relative;
    left: 120px;
    font-size: large;
   
    background-color: #463d3b;
    color: #ac8304;
}